<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une formation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Ajouter une formation</h1>
            <form method="post">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.title, {'label': 'Titre de la formation', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.description, {'label': 'Description', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.playlist, {'label': 'Playlist', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.categories, {'label': 'Catégories', 'attr': {'class': 'form-control', 'multiple': 'multiple'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.published_at, {'label': 'Date de publication', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.video_id, {'label': 'Vidéo (non fonctionnel pour linstant)', 'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>

</body>
</html>
